/* Import fonts */
@import url('https://fonts.googleapis.com/css?family=Quicksand|Roboto:300&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #f6f9fc;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Quicksand', sans-serif;
}

.navbar {
  padding: 5px;
  border: 1px black solid;
}

.projectSelector {
  border: 1px solid black;
  margin: 5px;
  padding: 5px;
  text-align: center;
}