/* Import fonts */
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: 400;
  background-color: #f6f9fc;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
  font-size: 18px;
}

.navbar {
  padding: 5px;
  border: 1px black solid;
}