.projectBoard {
    /* border: 1px solid black; */
    margin: 5px;
    padding: 5px;
    display: flex;
    background-color: #f5f5f5;
}

.statusColumn {
    border: 1px solid black;
    margin: 5px;
    padding: 5px;
    border-radius: 2px;
}
  
.task-card {
    border: 1px solid #7d7d7d;
    margin: 5px;
    margin-bottom: 12px;
    width: 300px;
    background-color: #ffffff;
    border-radius: 2px;
    position: relative;
}

.hold {
    border: solid 4px #ccc;
    border-style: dashed;
}

.invisible {
    display: none;
}

.hovered {
    background: #f4f4f4;
}

.task-card-child-title {
    border-bottom: 1px solid #a8a8a8;
    padding: 8px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    background-color: #283e4a;
    color: #c7d1d8;
}

.task-card-child {
    border-bottom: 1px solid #a8a8a8;
    padding: 8px;
    display: flex;
    justify-content: space-evenly;
}

.task-card-child-controls {
    border-bottom: 1px solid #a8a8a8c0;
    display: flex;
    padding-left: 5px;
    padding-right: 5px;
    justify-content: space-between;
    /* background-color: #ffebeb; */
}

button {
    border-radius: 4px;
    display: flex;
    align-items: center;
    padding: 1px;
    background-color: #ffffff;
}

.title-button {
    background-color: #283e4a;
}

a {
    text-decoration: none;
    color: inherit;
}

.icon {
    width: 16px;
    height: 16px;
    margin-right: 2px;
}