.projectBoard {
    /* border: 1px solid black; */
    margin: 5px;
    padding: 5px;
    display: flex;
    background-color: #ffffff;
}

.sort-search {
    background-color: #2b303b;
    padding-bottom: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.search {
    background-color: #2b303b;
    border: 1px solid #ffffff8e;
    color: #ffffff8e;
    height: 25px;
    width: 30%;
    margin-right: 10px;
    margin-left: 5px;
    padding: 3px;
    font-family: 'Montserrat', sans-serif;
}

.filter {
    background-color: #2b303b;
    color: #ffffff8e;
    font-family: 'Montserrat', sans-serif;
    margin-left: 5px;
    margin-right: 15px;
}

.statusColumn {
    background-color: #bebebe79;
    border: 1px solid black;
    margin: 10px;
    padding: 5px;
    border-radius: 5px;
    min-width: 310px;
    min-height: 85vh;
}

.add-column {
    margin: 10px;
}

.rename-col {
    display: flex;
    align-items: center;
}

.col-details-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.col-controls {
    display: flex;
    justify-content: space-between;
}

.new-task-submission {
    width: 100%;
}

.new-task-submission textarea {
    width: 95%;
}

.submission-options {
    display: flex;
    justify-content: space-between;
}
  
.task-card {
    border: 1px solid #7d7d7d;
    margin: 5px;
    margin-bottom: 15px;
    margin-top: 30px;
    width: 300px;
    background-color: #ffffff;
    border-radius: 2px;
    position: relative;
    cursor: grab;
}

.hold {
    border: solid 4px #ccc;
    border-style: dashed;
}

.invisible {
    display: none;
}

.hovered {
    background: #f4f4f4;
}

.task-card-child-title {
    border-bottom: 1px solid #a8a8a8;
    padding: 8px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    background-color: #2b303b;
    color: #ffffff;
}

.title-text {
    width: 100%;
}

.title-text textarea {
    background-color: #2b303b;
    color: #ffffff;
    width: 90%;
}

.title-controls {
    display: flex;
}

.title-controls button {
    border: none;
}

.task-card-child {
    border-bottom: 1px solid #ffffff;
    padding: 2px;
    display: flex;
    justify-content: space-evenly;
}

.task-card-child-controls {
    border-bottom: 1px solid #ffffffc0;
    display: flex;
    padding-left: 5px;
    padding-right: 5px;
    justify-content: space-between;
    /* background-color: #ffebeb; */
}

button {
    border-radius: 4px;
    display: flex;
    align-items: center;
    padding: 1px;
    background-color: #ffffff;
}

a {
    text-decoration: none;
    color: inherit;
}

.icon {
    width: 20px;
    height: 20px;
    margin-right: 2px;
}

.dropzone-hover {
    background-color: #6d6d6d79;
    /* border: 1px solid black; */
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
    min-width: 310px;
    min-height: 85vh;
}

.hidden {
    display: none;
}

textarea {
    width: 85%;
}

.add-column img {
    cursor: pointer;
}
