.projectBoard {
    border: 1px solid black;
    margin: 5px;
    padding: 5px;
    display: flex;
}

.statusColumn {
    border: 1px solid black;
    margin: 5px;
    padding: 5px;
}
  
.taskCard {
    border: 1px solid black;
    margin: 5px;
    padding: 5px;
}